# ==============================
# APP
# ==============================
NODE_ENV=development
PORT=3001
API_PREFIX=api/v1
FRONTEND_URL=http://localhost:3000

# ==============================
# DATABASE (PostgreSQL)
# ==============================
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=hoja_de_parra_spitz
DB_SYNCHRONIZE=false
DB_LOGGING=true

# ==============================
# JWT
# ==============================
JWT_ACCESS_SECRET=change_this_access_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_this_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d

# ==============================
# CLOUDINARY
# ==============================
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# ==============================
# CULQI
# ==============================
CULQI_PUBLIC_KEY=
CULQI_SECRET_KEY=
CULQI_WEBHOOK_SECRET=

# ==============================
# MAIL
# ==============================
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM="Hoja de Parra Spitz <no-reply@hojadeparraspitz.com>"
